@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #444;
  background: #fafafa;
  font-family: "Ropa Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center; }

* > li {
  list-style: none; }

* > a {
  text-decoration: none;
  color: inherit; }

* > button,
* > input {
  font-family: "Ropa Sans", sans-serif; }

#root {
  min-width: 100%; }

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.container {
  width: 110rem;
  margin: 0 auto; }

header,
footer {
  width: 100%; }

.text__field {
  margin: 0.5rem 0;
  align-self: stretch; }
  .text__field__input {
    font-family: "Ropa Sans", sans-serif;
    font-size: 1.8rem;
    outline: none;
    width: 100%;
    height: 4rem;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s; }
    .text__field__input--invalid {
      border-color: red; }
      .text__field__input--invalid::placeholder {
        color: red; }
    .text__field__input:focus {
      border-color: #d44a66; }
      .text__field__input:focus::placeholder {
        color: currentColor; }
  .text__field__info, .text__field__error {
    line-height: 1;
    padding: 0.2rem 1rem;
    font-size: 1.6rem; }
  .text__field__label {
    font-size: 1.8rem;
    padding-left: 1rem; }
  .text__field__error {
    color: red; }

.textarea {
  margin: 0.5rem 0;
  align-self: stretch; }
  .textarea__input {
    font-family: "Ropa Sans", sans-serif;
    font-size: 1.8rem;
    outline: none;
    width: 100%;
    height: 4rem;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s; }
    .textarea__input--invalid {
      border-color: red; }
      .textarea__input--invalid::placeholder {
        color: red; }
    .textarea__input:focus {
      border-color: #d44a66; }
      .textarea__input:focus::placeholder {
        color: currentColor; }
  .textarea__info, .textarea__error {
    line-height: 1;
    padding: 0.2rem 1rem;
    font-size: 1.6rem; }
  .textarea__label {
    font-size: 1.8rem;
    padding-left: 1rem; }
  .textarea__error {
    color: red; }
  .textarea__input {
    padding: 1rem;
    min-height: 10rem; }

.icon__field {
  margin: 0.5rem 0;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .icon__field__input {
    font-family: "Ropa Sans", sans-serif;
    font-size: 1.8rem;
    outline: none;
    width: 100%;
    height: 4rem;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s; }
    .icon__field__input--invalid {
      border-color: red; }
      .icon__field__input--invalid::placeholder {
        color: red; }
    .icon__field__input:focus {
      border-color: #d44a66; }
      .icon__field__input:focus::placeholder {
        color: currentColor; }
  .icon__field__info, .icon__field__error {
    line-height: 1;
    padding: 0.2rem 1rem;
    font-size: 1.6rem; }
  .icon__field__label {
    font-size: 1.8rem;
    padding-left: 1rem; }
  .icon__field__error {
    color: red; }
  .icon__field__input {
    flex: 1;
    width: 90%; }
  .icon__field svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem; }
  .icon__field__label {
    flex: 0 0 100%;
    font-size: 1.5rem; }
  .icon__field__info {
    flex: 0 0 100%;
    margin-left: 3rem; }

.selectList {
  margin: 0.5rem 0;
  align-self: stretch; }
  .selectList__input {
    font-family: "Ropa Sans", sans-serif;
    font-size: 1.8rem;
    outline: none;
    width: 100%;
    height: 4rem;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s; }
    .selectList__input--invalid {
      border-color: red; }
      .selectList__input--invalid::placeholder {
        color: red; }
    .selectList__input:focus {
      border-color: #d44a66; }
      .selectList__input:focus::placeholder {
        color: currentColor; }
  .selectList__info, .selectList__error {
    line-height: 1;
    padding: 0.2rem 1rem;
    font-size: 1.6rem; }
  .selectList__label {
    font-size: 1.8rem;
    padding-left: 1rem; }
  .selectList__error {
    color: red; }
  .selectList__input {
    color: #444; }

.dateField {
  margin: 0.5rem 0;
  align-self: stretch; }
  .dateField__input {
    font-family: "Ropa Sans", sans-serif;
    font-size: 1.8rem;
    outline: none;
    width: 100%;
    height: 4rem;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s; }
    .dateField__input--invalid {
      border-color: red; }
      .dateField__input--invalid::placeholder {
        color: red; }
    .dateField__input:focus {
      border-color: #d44a66; }
      .dateField__input:focus::placeholder {
        color: currentColor; }
  .dateField__info, .dateField__error {
    line-height: 1;
    padding: 0.2rem 1rem;
    font-size: 1.6rem; }
  .dateField__label {
    font-size: 1.8rem;
    padding-left: 1rem; }
  .dateField__error {
    color: red; }
  .dateField__picker {
    margin: 1rem auto;
    height: 50rem; }

.im-big-input-moment {
  border: 1px solid #eee !important;
  border-radius: 4px !important;
  padding: 2rem !important; }

.im-date-picker .toolbar {
  margin-bottom: 1rem; }

.im-input-moment .options button {
  color: #d44a66 !important;
  border-color: #d44a66 !important; }
  .im-input-moment .options button.is-active {
    background-color: #d44a66 !important;
    color: #ffffff !important; }

.im-date-picker .toolbar {
  color: #d44a66 !important; }

.im-date-picker table td {
  color: #666 !important; }
  .im-date-picker table td.current {
    background-color: #d44a66 !important;
    color: #ffffff !important; }
  .im-date-picker table td.next-month {
    color: #bbb !important; }

.im-time-picker .time-text,
.im-time-slider .time-text {
  color: #666 !important; }

.im-time-picker .showtime .time,
.im-time-slider .showtime .time {
  background-color: #d44a66 !important;
  color: #ffffff !important; }

.im-time-picker .showtime .separator,
.im-time-slider .showtime .separator {
  color: #d44a66 !important; }

.im-time-picker .im-slider .value,
.im-time-slider .im-slider .value {
  background-color: #d44a66 !important; }

.im-time-picker .im-slider .handle:after,
.im-time-slider .im-slider .handle:after {
  background-color: #ffffff !important;
  border-color: #d44a66 !important; }

.placeField {
  width: 100%; }
  .placeField__info, .placeField__error {
    line-height: 1;
    padding: 0.2rem 1rem;
    font-size: 1.6rem; }
  .placeField__label {
    font-size: 1.8rem;
    padding-left: 1rem; }
  .placeField__error {
    color: red; }

.geosuggest {
  font-size: 1.6rem;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  text-align: left; }

.geosuggest__input {
  font-size: 1.8rem;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 2px;
  box-shadow: 0 0 1px #aaa;
  height: 4rem;
  padding: 0.5rem 1rem;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s; }

.geosuggest__input:focus {
  outline: none;
  border-color: #d44a66;
  box-shadow: 0 0 0 transparent; }

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #d44a66;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s; }

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0; }

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 1.6rem;
  padding: 0.5em 0.65em;
  cursor: pointer; }

.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5; }

.geosuggest__item--active {
  background: #267dc0;
  color: #fff; }

.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc; }

.geosuggest__item__matched-text {
  font-weight: bold; }

.header {
  height: 6.5rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  padding-top: 0.2rem; }
  .header__brand {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Ropa Sans", sans-serif;
    margin-right: 1rem; }
  .header__link {
    font-size: 1.8rem;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    letter-spacing: -1px;
    background-color: transparent;
    border-radius: 4px;
    transition: all 0.3s; }
    .header__link:hover {
      background-color: whitesmoke; }
    .header__link--signup {
      background-color: rgba(212, 74, 102, 0.7);
      font-weight: 600;
      color: white; }
      .header__link--signup:hover {
        background-color: #d44a66; }
    .header__link--createEvent {
      background-color: whitesmoke; }
      .header__link--createEvent:hover {
        background-color: #ededed; }

.header__left {
  display: flex;
  align-items: center;
  flex: 1; }

.header__right {
  display: flex;
  align-items: center; }

.header .container {
  display: flex; }

.header__user {
  margin-left: 2rem;
  font-size: 1.8rem;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer; }
  .header__user img {
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 5px; }
  .header__user i {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem; }
  .header__user__menu {
    position: absolute;
    background-color: white;
    top: 6rem;
    right: 0;
    width: 13rem;
    border: 1px solid #eee;
    border-radius: 4px; }
    .header__user__menu__item {
      padding: 0.5rem 1rem; }
      .header__user__menu__item:hover {
        background-color: #f7f7f7; }

.landing {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .landing__logo {
    width: 11rem;
    height: 11rem;
    z-index: 3; }
  .landing__title {
    font-size: 5rem;
    font-weight: bold;
    font-family: "Ropa Sans", sans-serif; }
  .landing__subtitle {
    margin-top: -2rem;
    margin-bottom: 1rem;
    font-size: 3rem; }
  .landing__link {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
    background-color: #d44a66;
    display: flex;
    align-items: center;
    transition: all 0.2s; }
    .landing__link span:nth-child(2) {
      margin-left: 1rem;
      margin-top: 0.2rem; }
    .landing__link:hover {
      background-color: #ca304f; }

.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .login__title {
    font-size: 3rem;
    font-weight: 700; }
  .login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30rem; }
  .login__submit {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 0.5rem;
    height: 4rem;
    width: 9rem;
    font-size: 1.8rem;
    color: white;
    background-color: #d44a66;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin-top: 2rem; }
    .login__submit:hover {
      background-color: #ca304f; }

.register {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .register__title {
    font-size: 3rem;
    font-weight: 700; }
  .register__subtitle {
    font-size: 1.8rem; }
  .register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30rem; }
  .register__submit {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 0.5rem;
    height: 4rem;
    width: 9rem;
    font-size: 1.8rem;
    color: white;
    background-color: #d44a66;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin-top: 2rem; }
    .register__submit:hover {
      background-color: #ca304f; }

.eventForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30rem; }
  .eventForm__submit {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 0.5rem;
    height: 4rem;
    width: 9rem;
    font-size: 1.8rem;
    color: white;
    background-color: #d44a66;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    align-self: flex-end; }
    .eventForm__submit:hover {
      background-color: #ca304f; }

.profileForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30rem; }
  .profileForm__submit {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 0.5rem;
    height: 4rem;
    width: 9rem;
    font-size: 1.8rem;
    color: white;
    background-color: #d44a66;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    align-self: flex-end; }
    .profileForm__submit:hover {
      background-color: #ca304f; }

.eventsFeed {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 3rem 0; }
  .eventsFeed__header {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid #eee; }
  .eventsFeed__item:not(:last-child) {
    border-bottom: 1px solid #eee; }
  .eventsFeed__item:hover {
    background-color: #f7f7f7; }

.eventsFeed__item {
  padding: 2rem;
  display: flex;
  font-size: 1.6rem; }
  .eventsFeed__item--hostImage {
    margin-right: 2rem; }
    .eventsFeed__item--hostImage img {
      width: 6rem;
      height: 6rem;
      border-radius: 4px; }
  .eventsFeed__item__preview--hostedBy {
    line-height: 1; }
    .eventsFeed__item__preview--hostedBy span {
      font-weight: bold; }
  .eventsFeed__item__preview--title {
    font-size: 2.5rem;
    font-weight: bold; }
  .eventsFeed__item__preview--when {
    font-size: 2rem; }
  .eventsFeed__item__preview--description {
    margin: 0.5rem 0; }
  .eventsFeed__item__preview__attendee {
    font-size: 1.8rem;
    opacity: 0.8; }

.createEvent {
  width: 70rem;
  margin: 2rem auto;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 2rem; }
  .createEvent__goback {
    align-self: flex-start;
    font-size: 1.8rem;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 4px;
    transition: all 0.2s;
    margin-left: 1rem; }
    .createEvent__goback:hover {
      background-color: #f0f0f0; }
  .createEvent__title {
    align-self: flex-start;
    padding-left: 1rem;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 700; }
  .createEvent__subtitle {
    align-self: flex-start;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #f3f3f3; }

.createProfile {
  width: 70rem;
  margin: 2rem auto;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 2rem; }
  .createProfile__goback {
    align-self: flex-start;
    font-size: 1.8rem;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 4px;
    transition: all 0.2s;
    margin-left: 1rem; }
    .createProfile__goback:hover {
      background-color: #f0f0f0; }
  .createProfile__title {
    align-self: flex-start;
    padding-left: 1rem;
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 700; }
  .createProfile__subtitle {
    align-self: flex-start;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #f3f3f3; }

.dashboard {
  flex: 1;
  margin-top: 2rem;
  padding: 2rem;
  align-self: center;
  min-width: 80rem;
  display: flex;
  flex-direction: column; }
  .dashboard__title {
    font-size: 4.5rem;
    line-height: 1; }
  .dashboard__greeting {
    font-size: 3rem; }
  .dashboard__calltoaction {
    font-size: 2rem;
    margin: 2rem 0; }
  .dashboard__button {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 0.5rem;
    height: 4rem;
    width: 9rem;
    font-size: 1.8rem;
    color: white;
    background-color: #d44a66;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s; }
    .dashboard__button:hover {
      background-color: #ca304f; }
    .dashboard__button--delete {
      align-self: flex-end;
      width: 15rem;
      font-size: 1.8rem;
      color: #d50000;
      background-color: transparent;
      border: 1.5px solid #d50000; }
      .dashboard__button--delete:hover {
        background-color: #d50000;
        color: white; }

.dashboard__actions {
  display: flex;
  align-items: center;
  margin: 2rem 0; }
  .dashboard__actions__item {
    font-size: 1.8rem;
    display: flex;
    align-items: flex-start;
    margin-right: 3rem; }
    .dashboard__actions__item svg {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem; }
