@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
@import url("https://fonts.googleapis.com/css?family=Ropa+Sans");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  color: #444;
  background: #fafafa;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center; }

* > li {
  list-style: none; }

* > a {
  text-decoration: none;
  color: inherit; }

* > button,
* > input {
  font-family: "Karla", sans-serif; }

#root {
  min-width: 100%; }

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.container {
  width: 110rem;
  margin: 0 auto; }

header,
footer {
  width: 100%; }

.text__field {
  margin: 0.5rem 0;
  align-self: stretch; }
  .text__field__input {
    outline: none;
    width: 100%;
    height: 4rem;
    border: 1.5px solid #f3f3f3;
    border-radius: 3px;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s; }
    .text__field__input--invalid {
      border-color: red; }
      .text__field__input--invalid::placeholder {
        color: red; }
    .text__field__input:focus {
      border-color: #dadada; }
      .text__field__input:focus::placeholder {
        color: currentColor; }
  .text__field__info, .text__field__error {
    line-height: 1;
    padding: 0.2rem 1rem;
    font-size: 1.3rem; }
  .text__field__error {
    color: red; }
  .text__field__label {
    font-size: 1.5rem; }

.header {
  height: 6.5rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  padding-top: 0.2rem; }
  .header__brand {
    font-size: 3rem;
    font-weight: bold;
    font-family: "Ropa Sans", sans-serif;
    margin-right: 1rem; }
  .header__link {
    font-size: 1.8rem;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    letter-spacing: -1px;
    background-color: transparent;
    border-radius: 4px;
    transition: all 0.3s; }
    .header__link:hover {
      background-color: whitesmoke; }
    .header__link--signup {
      background-color: rgba(212, 74, 102, 0.7);
      font-weight: 600;
      color: white; }
      .header__link--signup:hover {
        background-color: #d44a66; }

.header__left {
  display: flex;
  align-items: center;
  flex: 1; }

.header__right {
  display: flex;
  align-items: center; }

.header .container {
  display: flex; }

.header__user {
  margin-left: 2rem;
  font-size: 1.8rem;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer; }
  .header__user img {
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 5px; }
  .header__user i {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem; }
  .header__user__menu {
    position: absolute;
    background-color: white;
    top: 6rem;
    right: 0;
    width: 13rem;
    border: 1px solid #eee;
    border-radius: 4px; }
    .header__user__menu__item {
      padding: 0.5rem 1rem; }
      .header__user__menu__item:hover {
        background-color: #f7f7f7; }

.landing {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .landing__logo {
    width: 11rem;
    height: 11rem;
    z-index: 3; }
  .landing__title {
    font-size: 5rem;
    font-weight: normal;
    font-family: "Ropa Sans", sans-serif; }
  .landing__subtitle {
    margin-top: -2rem;
    margin-bottom: 1rem;
    font-size: 3rem; }
  .landing__link {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
    background-color: #d44a66;
    display: flex;
    align-items: center;
    transition: all 0.2s; }
    .landing__link span:nth-child(2) {
      margin-left: 1rem;
      margin-top: 0.2rem; }
    .landing__link:hover {
      background-color: #ca304f; }

.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .login__title {
    font-size: 3rem;
    font-weight: 700; }
  .login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30rem; }
  .login__submit {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 0.5rem;
    height: 4rem;
    width: 9rem;
    font-size: 1.4rem;
    color: white;
    background-color: #d44a66;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin-top: 2rem; }
    .login__submit:hover {
      background-color: #ca304f; }

.register {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .register__title {
    font-size: 3rem;
    font-weight: 700; }
  .register__subtitle {
    font-size: 1.8rem; }
  .register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30rem; }
  .register__submit {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 0.5rem;
    height: 4rem;
    width: 9rem;
    font-size: 1.4rem;
    color: white;
    background-color: #d44a66;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    margin-top: 2rem; }
    .register__submit:hover {
      background-color: #ca304f; }

.eventsFeed {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 3rem 0; }
  .eventsFeed__header {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid #eee; }
  .eventsFeed__item:not(:last-child) {
    border-bottom: 1px solid #eee; }
  .eventsFeed__item:hover {
    background-color: #f7f7f7; }

.eventsFeed__item {
  padding: 2rem;
  display: flex;
  font-size: 1.6rem; }
  .eventsFeed__item--hostImage {
    margin-right: 2rem; }
    .eventsFeed__item--hostImage img {
      width: 6rem;
      height: 6rem;
      border-radius: 4px; }
  .eventsFeed__item__preview--hostedBy {
    line-height: 1; }
    .eventsFeed__item__preview--hostedBy span {
      font-weight: bold; }
  .eventsFeed__item__preview--title {
    font-size: 2.5rem;
    font-weight: bold; }
  .eventsFeed__item__preview--when {
    font-size: 2rem; }
  .eventsFeed__item__preview--description {
    margin: 0.5rem 0; }
  .eventsFeed__item__preview__attendee {
    font-size: 1.8rem;
    opacity: 0.8; }
