// styles for eventView layout
.eventView {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: min-content min-content min-content;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  &__header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin-top: 1rem;
    padding: 2rem;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px;
  }
  &__main {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px;
  }
  &__side {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px;
  }
  &__comments {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px;
  }
}
